*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.title{
  text-align: center;
  padding: 50px 0;
}

.container-character{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}